<table class="table">
    <thead>
    <tr>
        <th>Created at</th>
        <th>Email</th>
        <th>Phone number</th>
        <th>Username</th>
        <% if(showActions) { %>
            <th>Action</th>
        <% } %>
    </tr>
    </thead>
    <tbody>
    <% users.forEach(function(user) { %>
    <tr id="<%= user.id %>">
        <td><%= moment(user.created_at).format(moment_format) %></td>
        <td>
            <a href="/user/<%= user.id %>"><%= user.email %></a>
            <% if(user.email_is_verified) { %>
                <br />
                <span class="badge badge-success">Verified</span>
            <% } %>
        </td>
        <td>
            <%= user.phone_number %>
            <% if(user.phone_number_is_verified) { %>
                <br />
                <span class="badge badge-success">Verified (<%= user.phone_code_attempts %> attempts)</span>
            <% } %>
        </td>
        <td><%= user.username %></td>
        <% if(showActions) { %>
            <td>
                <button type="button" class="btn btn-success" onclick="javascript:setUser(<%= user.id %>)" data-toggle="modal" data-target="#approveUserModal">Approve</button>
                &nbsp;&nbsp;
                <button type="button" class="btn btn-warning" onclick="javascript:setUser(<%= user.id %>)" data-toggle="modal" data-target="#rejectUserModal">Reject</button>
            </td>
        <% } %>
    </tr>
    <% }); %>
    </tbody>
</table>
<nav aria-label="Page navigation example">
<ul class="pagination">
    <% if(page > 1) { %>
        <li class="page-item"><a class="page-link" href="/<%= location %>?page=<%= (page-1) %>">Previous</a></li>
    <% } %>
    <li class="page-item"><a class="page-link" href="/<%= location %>?page=<%= (page + 1)  %>">Next</a></li>
</ul>
</nav>